body {
    font-family: Montserrat;
}
header{
    background-color:black;
    padding:10px;
   }
.mainlink {
    border: 5px solid #58EE00;
    border-radius: 30px;
    padding:10px;
}
nav a {
    margin-left:200px;
    border: 5px solid #000000;
border-radius: 30px;
    padding:10px;
}
main img{
    margin-left:331px;
}
main p{
   border: 5px solid #0C5AA6;
}
header img{
    margin-left:330px;
}
